.website {
  padding: 0 28px 48px 0;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  grid-area: website;
  align-self: end;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .website {
    padding: 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .website {
    padding: 0 0 48px;
    max-width: 352px;
  }
}
@media screen and (max-width: 555px) {
  .website {
    padding: 0 16px 32px;
    max-width: 288px;
  }
}
