.website {
  padding: 0 28px 48px 0;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  grid-area: website;
  align-self: end;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .website {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .website {
    max-width: 352px;
  }
}
@media screen and (max-width: 555px) {
  .website {
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 32px;
    max-width: 288px;
  }
}
