.cover {
  margin: 0 auto;
  margin: 0 48px 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
		margin-left: 0;
		margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 555px) {
  .cover {
    margin-bottom: 64px;
  }
}
