.header__lang-links_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header__lang-links_link:last-of-type {
  text-decoration: none;
	margin-right: 0;
}


@media screen and (max-width: 320px) {
	.header__lang-links_link {
		
		font-size: 18px;
	line-height: 20px;

	}
}